.Panel {
	height: 100%;
	position: relative;
	width: 100%;
}

.Panel__loading {
	align-items: center;
	background-color: #fff;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.Panel__content {
	padding: 5px;
}