.Root {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.Root__navbar {
	width: 250px;
}

.Root__navbar-in {
	position: fixed;
}


@media (max-width: 1024px) {

	.Root {
		flex-direction: column-reverse;
	}

	.Root__navbar {
		box-shadow: inset 0 1px 0 #eee;
		flex-shrink: 0;
		height: var(--navbar-height);
		width: 100%;
	}

	.Root__navbar-in {
		position: fixed;
		width: 100%;
	}

	.Root__content {
		height: 100%;
	}

	.Root__loaded {
		display: none;
		height: 100%;
	}

	.Root__loaded--active {
		display: block;
	} 

}