@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
	--navbar-height: 50px;
}

* {
	box-sizing: border-box;
	font-family: inherit;
	margin: 0;
	padding: 0;
}

html, 
body, 
#root {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	-webkit-tap-highlight-color: transparent;
}